html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.container {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 800px;
    position: relative;
    margin: auto;
    height: 100%;
    overflow: hidden;
    padding-left: 64px;
    padding-right: 64px;
}

#in-editor {
    width: 600px;
    height: 72px;
    margin: 64px auto 20px auto;
    border: 1px solid lightgray;
}

#out {
    font-size: 72px;
    text-align: center;
}

.record {
    color: #ee2b1e;
}

li {
    padding: 12px;
    margin: 4px;
    display: inline-block;
    width: 64px;
    text-align: center;
    border: 1px solid #ccd7de;
    border-radius: 4px;
}

ul {
    padding: 0;
}

.result {
    text-align: center;
    font-size: 32px;
    margin-bottom: 64px;
}

.fade {
    color: #ccd7de;
}