html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 784px;
    position: relative;
    margin: auto;
    height: 100%;
    padding-left: 64px;
    padding-right: 64px;
}

.record {
    color: #ee2b1e;
}

li {
    padding: 12px;
    margin: 4px;
    display: inline-block;
    width: 64px;
    text-align: center;
    border: 1px solid #ccd7de;
    border-radius: 4px;
    color: #2d333a;
    transition: background-color 100ms;
}

li:hover {
    transition: background-color 100ms;
    background-color: #d7e2e9;
}

ul {
    padding: 0;
}

.result {
    text-align: center;
    font-size: 32px;
    margin-bottom: 72px;
}

.fade {
    color: #c3ced5;
}

input {
    display: block;
    width: 100%;
    margin-top: 12px;
    font-size: 24px;
    padding: 6px 12px;
    border-radius: 8px;
    outline: none;
}

::-webkit-input-placeholder {
    color: #c3ced5;
}

::-moz-placeholder {
    color: #c3ced5;
}

.input-container {
    width: 640px;
    margin: 48px auto 24px auto;
}

.description {
    font-size: small;
    color: #5b636b;
}